.cart{
  width: 100%;
  max-width: 330px;
  background-color: rgb(245, 243, 243);
  height: 100vh;
  position: fixed;
  top:0;
  right: 0;
  padding: 120px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(110%, 0);
  transition: all 400ms ease  ;
  box-shadow: -10px 8px 12px rgba(0, 0, 0, 0.542);

}.cart-itens{
  flex-grow: 1;
  overflow: auto;
}.cart-resumo{
  font-size: 1.8rem;
  font-weight: 500;
  padding: 35px 0px 8px;
  border: 1px solid #ddd;
}
.cart-itens .cart-item:last-child{
    border-bottom: none;
}
.cart--active{
  transform: translate(0, 0);
}
.fechar{
  position: relative;
  top: 0;
  right: 0;

  cursor: pointer;



  
}

@media (max-width: 780px) {
  .fechar{
    position: relative;
    top: 0;
    right: 0;
    width: 50px;
    margin-bottom: 10%;
  
    
  }.cart{
    box-shadow: -30px 8px 12px rgba(0, 0, 0, 0.542);

  }}