.products-card{
  width: 100%;
  max-width: 320px;
  background-color: white;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
 
  

}
.car__image{
  width: 100%;
  border-radius: 10px;
}
.card__infos{
  padding: 20px;
  border-top: 1px solid #ddd;
}.card__prince{
  font-size: 30px;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}.card__title{
  font-size: 15px;
  color:  rgba(0, 0, 0, 0.741);
  line-height: 1.5;
  font-weight: 500;
}
.button_card-add{
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: 12px 8px;
  color: rgb(3, 117, 34);
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  background-color: #f7f5f5d6;
  font-size: 1.5rem;
  cursor: pointer;
}
.products-card:hover{
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
}
.products-card:hover .button_card-add{
  display: flex;
}.button_card-add:hover{
  font-size: 1.7rem;
  color: rgb(3, 98, 28);
  background-color: #e2dfdfd6;
}.comprar{
  text-decoration: none;
  margin-left: 10px;
  margin-bottom: 5px;
}

@media (max-width: 800px) {
  .car__image{
    width:60%;

    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
  }
  .card__prince{
    font-size: 25px;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .products-card{
    width: 100%;
    max-width: 260px;
   
    background-color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
   
    
  
  }
}

@media (max-width: 780px) {
.card__prince{
    font-size: 18px;
    font-weight: 200;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .products-card{
    width: 100%;
    max-width: 175px;
    max-height: 580px;
    background-color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
   
    
  
  }
  .car__image{
    width:60%;

    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }.card__title{
    font-size: 10px;
    color:  rgb(0, 0, 0);
    line-height: 1.5;
    font-weight: 200;
  }
}

