.header{
  background-color: #008029;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.header > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 0.8rem;
  font-weight: 500px;
}